# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.a
**/debug

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode editor files
.vscode

# Ignore the vendor folder (added by "dep ensure")
/src/webcron/vendor
